a,
a:hover,
a:visited {
    color: #554b4b
}
a:visited {
    color: #554b4b;
}
.freepbx-navbar .navbar .navbar-nav>li>a {
    color: #554b4b;
    border: 1px solid #857b7b;
    background: #ccc
}
.freepbx-navbar .navbar .navbar-nav>li>a:hover {
    border: 1px solid #857b7b;
    background: #eee;
    color: #554b4b
}
.freepbx-navbar .navbar .navbar-nav>li>a:active {
    border: 1px solid #857b7b;
    background: #fff
}
.freepbx-navbar .navbar .navbar-header .navbar-toggle {
    border: 1px solid #857b7b;
    color: #554b4b;
    background-color: #ccc
}
.freepbx-navbar .navbar .navbar-header .navbar-toggle.collapsed {
    background-color: #ccc
}
.freepbx-navbar .navbar .navbar-header .navbar-toggle.collapsed .icon-bar {
    background-color: #554b4b
}
.freepbx-navbar .navbar .navbar-header .navbar-toggle:hover {
    background-color: #eee
}
.freepbx-navbar .navbar .navbar-header .navbar-toggle:hover .icon-bar {
    background-color: #554b4b
}
.freepbx-navbar .navbar .navbar-header .navbar-toggle:active {
    color: #fff;
    background-color: #554b4b;
    border-color: #857b7b
}
.clickable.delete {
    color: #554b4b;
}
.btn,
.btn.visited,
.btn:visited,
.btn[visited],
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only,
fieldset[visited] .btn,
input[type=button],
input[type=button]:visited,
input[type=reset],
input[type=reset]:visited,
input[type=submit],
input[type=submit]:visited {
    border: 1px solid #857b7b;
    background: #ccc;
    color: #554b4b
}
.btn.focus,
.btn.hover,
.btn:focus,
.btn:hover,
.btn[focus],
.btn[hover],
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active,
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover,
fieldset[focus] .btn,
fieldset[hover] .btn,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
    border: 1px solid #857b7b;
    background: #eee;
    color: #554b4b
}
.btn.active,
.btn:active,
.btn[active],
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-focus,
fieldset[active] .btn,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
    border: 1px solid #857b7b;
    background: #fff
}
.btn.disabled,
.btn:disabled,
.btn[disabled],
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-disabled,
fieldset[disabled] .btn,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
    background: #ccc;
    border: 1px solid #857b7b;
    color: #554b4b
}
.freepbx-navbar .navbar .stuck-right li.dropdown.open>button {
    background-color: #554b4b;
    border-color: #857b7b;
    color: #fff
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #554b4b;
    background-color: #eee;
    border-color: #857b7b
}
.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
.btn-info[disabled]:visited,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    color: #fff;
    background-color: #554b4b;
    border-color: #857b7b
}
#fpbxsearch,
.fpbx-container .display {
    border-bottom: 1px solid #857b7b;
    border-left: 1px solid #857b7b;
    border-right: 1px solid #857b7b
}
.freepbx-navbar .navbar {
    border: 1px solid #857b7b;
    background-color: #ccc
}
.freepbx-navbar .navbar .navbar-nav>li.open>a {
    border: 1px solid #857b7b;
    background: #554b4b;
    color: #fff
}
#fpbxsearch,
.fpbx-container .display .element-container:nth-child(even),
.freepbx-navbar .dropdown-menu>li>a.active {
    background-color: #ccc
}
.fpbx-container .display.full-border {
    border: 1px solid #857b7b
}
.fpbx-container .display .row i.fpbx-help-icon {
    color: #554b4b
}
.fpbx-container .display .section {
    border: 1px solid #857b7b
}
.nav.nav-tabs>li.active>a,
.nav.nav-tabs>li.active>a:focus,
.nav.nav-tabs>li.active>a:hover {
    background-color: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -webkit-linear-gradient(top, #ccc, #fff);
    background: -moz-linear-gradient(top, #ccc, #fff);
    background: -ms-linear-gradient(top, #ccc, #fff);
    background: -o-linear-gradient(top, #ccc, #fff);
    background: linear-gradient(to bottom, #ccc 0, #fff 100%);
    color: #554b4b;
    border: 1px solid #857b7b
}
.nav.nav-tabs>li>a:hover {
    background-color: #eee;
    color: #554b4b;
    border: 1px solid #857b7b
}
.nav.nav-tabs>li>a:active,
.nav.nav-tabs>li>a:focus {
    background-color: #ccc;
    background: linear-gradient(to bottom, #ccc 0, #fff 100%);
    color: #554b4b
}
.nav.nav-tabs>li>a,
.nav.nav-tabs>li>a:visited {
    border: 1px solid #857b7b;
    border-bottom-color: #857b7b
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #554b4b;
    border-color: #857b7b
}
.pagination>li>a,
.pagination>li>span {
    color: #554b4b
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #554b4b;
    background-color: #eee;
    border-color: #857b7b
}
.alt_table tr:nth-child(even),
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th,
table th {
    background-color: #ccc
}
.bootstrap-table .table,
.bootstrap-table .table>thead>tr>th,
.fixed-table-container,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-color: #857b7b;
    background-color: #ccc
}
.radioset input[type=checkbox]~label,
.radioset input[type=radio]+label {
    border: 1px solid #857b7b;
    background: #ccc;
    color: #554b4b
}
.radioset input[type=checkbox]~label:hover,
.radioset input[type=radio]+label:hover {
    border: 1px solid #857b7b;
    background: #eee;
    color: #554b4b
}
.radioset input[type=checkbox]:checked+label,
.radioset input[type=radio]:checked+label {
    border: 1px solid #857b7b;
    background: #554b4b;
    color: #fff
}
.radioset input[type=checkbox]:disabled+label,
.radioset input[type=radio]:disabled+label {
    background: #ccc;
    border: 1px solid #857b7b;
    color: #554b4b
}
.radioset input[type=checkbox]:disabled:checked+label,
.radioset input[type=radio]:disabled:checked+label {
    background-color: #857b7b
}
#action-buttons,
hr {
    background-color: #ccc;
    border: 1px solid #857b7b
}
#action-buttons,
.help {
    color: #554b4b
}
.panel-info>.panel-heading {
    color: #554b4b;
    background-color: #eee;
    border-color: #ccc
}
.panel-info {
    border-color: #ccc
}
.nav.nav-tabs {
    border-bottom-color: #857b7b
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #554b4b
}
.nav-container .scroller {
    border-bottom: 1px solid #857b7b
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    border-color: #ccc
}
.ui-sortable .label-info {
    background-color: #eee;
    color: #554b4b;
    border: 1px solid #ccc
}
.alert-info {
    color: #554b4b;
    background-color: #ccc;
    border-color: #857b7b
}
#floating-nav-bar #fixed-list-button {
    -webkit-box-shadow: -3px 3px 10px -2px #554b4b;
    -moz-box-shadow: -3px 3px 10px -2px #554b4b;
    box-shadow: -3px 3px 10px -2px #554b4b
}
.swMain ul.anchor li a.done {
    background: #ccc;
    border: 1px solid #857b7b;
    color: #554b4b
}
.swMain ul.anchor li a.done:hover {
    border: 1px solid #ccc;
    background: #eee;
    color: #554b4b
}
.swMain ul.anchor li a.selected {
    border: 1px solid #857b7b;
    background: #ccc;
    color: #554b4b
}
.swMain ul.anchor li a.selected:hover {
    border: 1px solid #857b7b;
    background: #eee;
    color: #554b4b
}
.swMain .buttonFinish,
.swMain .buttonNext,
.swMain .buttonPrevious,
.swMain ul.anchor li a.disabled {
    border: 1px solid #857b7b;
    background: #ccc;
    color: #554b4b
}
.swMain .stepContainer .StepTitle {
    border: 1px solid #857b7b;
    color: #554b4b;
    background-color: #ccc
}
.swMain .buttonFinish:hover,
.swMain .buttonNext:hover,
.swMain .buttonPrevious:hover {
    border: 1px solid #ccc;
    background: #eee;
    color: #554b4b
}
.swMain .buttonFinish:active,
.swMain .buttonNext:active,
.swMain .buttonPrevious:active {
    border: 1px solid #ccc;
    background: #554b4b
}
.chosen-container-multi .chosen-choices li.search-choice,
.swMain .buttonDisabled {
    border: 1px solid #857b7b;
    background: #ccc;
    color: #554b4b
}
.chosen-container-active .chosen-choices {
    border-color: #857b7b
}
.chosen-container .chosen-drop {
    border: 1px solid #857b7b
}
.form-control:focus {
    border-color: #857b7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #857b7b
}
.uneditable-input:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
textarea:focus {
    border-color: #857b7b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px #857b7b;
    outline: 0
}
.progress-bar {
    background-color: #554b4b
}
.rnav ul {
    border: 1px solid #857b7b
}
.rnav ul li>a {
    border-bottom: 1px solid #857b7b
}
.rnav ul li>a:hover {
    background-color: #eee
}
